{% extends "pages/base.html" %}
{% block title %} Add {% endblock %}
{% block content %}
<h1>Thêm sản phẩm</h1>
{% if product%}
<table class="table table-striped table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tên</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Thể loại</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td class="w-50">{{ product.shortDescription }}</td>
                <td class="w-10">{{ product.status }}</td>
                <td class="w-10">{{ product.price }}</td>
                <td class="w-10">{{ product.thumbnail }}</td>
                <td class="w-10">{{ product.category }}</td>
            </tr>
         </tbody>
</table>   
{% endif %}

    <form method="post" action="{% url 'home:add' %}">
        {% csrf_token %}
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="id_shortDescription">Tên</label>
            <input type="text" id="id_shortDescription" class="form-control" name="shortDescription" required />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="id_status">Số lượng</label>
            <input type="text" id="id_status" class="form-control" name="status" required />
        </div>
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="id_price">Giá (đ)</label>
            <input type="text" id="id_price" class="form-control" name="price" required />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="id_thumbnail">Thumbnail</label>
            <input type="text" id="id_thumbnail" class="form-control" name="thumbnail" placeholder="Link sản phẩm" required />
        </div>
        <div class="form-outline mb-4 mt-4">
            <label class="form-label" for="id_category">Thể loại</label>
            <input type="text" id="id_category" class="form-control" name="category" placeholder="ao-nam,dien-thoai,lap-top,tai-nghe" required />
        </div>
        <input type="hidden" id="dataU" name="dataU" value={{ product.id }} required>
        <button type="submit" class="w-10 btn btn-primary btn-block mb-4">
            Submit
        </button>
    </form>


{% endblock %}