{% extends "pages/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<h1>Trang quản trị</h1>
{% csrf_token %}
<table class="table table-striped table-hover mt-5">
    <thead>
        <tr>
            <th scope="col">Stt</th>
            <th scope="col">Tên</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Sữa</th>
            <th scope="col">Xóa</th>
        </tr>
    </thead>
    {% for product in product %}
    <tbody>
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td class="w-50">{{ product.shortDescription }}</td>
                <td class="w-10">{{ product.status }}</td>
                <td class="w-10">{{ product.price }}</td>
                <td class="w-10">
                    <form method="post"  action="{% url 'home:admins' %}">
                        {% csrf_token %}
                        <button style=" border: none; background: none;" type="submit">
                        <input type="hidden" id="data" name="data" value={{ product.id }} required>
                           v
                        </button>
                    </form>
                </td>
                <td class="w-10">
                    <form method="post"  action="{% url 'home:admins' %}">
                        {% csrf_token %}
                        <button style=" border: none; background: none;" type="submit">
                        <input type="hidden" id="dataD" name="dataD" value={{ product.id }} required>
                           x
                        </button>
                    </form>
                </td>
            </tr>
         </tbody>
            {% endfor %}
    </table>   
{% endblock %}