{% extends "pages/base.html" %}
{% block title %} Cart {% endblock %}
{% block content %}
        <div class= "d-flex justify-content-center">
            <div class="m-5 w-10">
                <div class="card" style="width: 18rem;">
                    <div class="card-header" style="background-color: #f7e222;">
                      Hồ sơ
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nguyễn Văn A</li>
                      <li class="list-group-item">Đơn mua</li>
                      <li class="list-group-item">Thông báo</li>
                    </ul>
                  </div>             
            </div>

            <div class ="m-5 w-100">
                <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 100px;" type="submit">
                            <input type="hidden" id="data" name="data" value="all" required>
                            Tất cả
                            </button>
                          </form>
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 200px;" type="submit">
                            <input type="hidden" id="data" name="data" value="thanh-toan" required>
                            Chờ thanh toán
                            </button>
                          </form>
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 100px;" type="submit">
                            <input type="hidden" id="data" name="data" value="van-chuyen" required>
                            Vận chuyển
                            </button>
                          </form>
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 100px;" type="submit">
                            <input type="hidden" id="data" name="data" value="dang-giao" required>
                            Đang giao
                            </button>
                          </form>
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 100px;" type="submit">
                            <input type="hidden" id="data" name="data" value="hoan-thanh" required>
                            Hoàn thành
                            </button>
                          </form>
                        <form method="post" action="{% url 'home:cart' %}">
                            {% csrf_token %}
                            <button style=" border: none; background: none; width: 100px;" type="submit">
                            <input type="hidden" id="data" name="data" value="da-huy" required>
                            Đã hủy
                            </button>
                          </form>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="card mb-3" style="max-width: 1000px;">
                        <div class="row g-0">
                          {% for product in product %}
                          <div class="col-md-4">
                            <img src={{ product.thumbnail }} class="img-fluid rounded-start" alt="Trống">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                             
                              <h5 class="card-title">{{ product.shortDescription }}</h5>
                              <span>Bấm theo dõi shop để nhận được thông báo chương trình sale sinh nhật shop, sale black Friday và rất nhiều chương trình ưu đãi khác.
                              </span>
                              <div class="d-flex justify-content-flex-start mt-3">
                                <p class="card-text">
                                    <button type="button" class="btn btn-outline-danger">{{product.color}}</button>
                                </p>
                              </div>
                              <div class="card-text m-2 d-flex justify-content-flex-start">Số lượng: 1</div>
                              <div class="card-title m-2 d-flex justify-content-flex-start" style="color: #D41830;">Giá: đ {{product.price}}</div>
                              {% if product.transport %}
                              
                              {% else %}
                              <form method="post" action="{% url 'home:cart' %}">
                                {% csrf_token %}
                                <button style=" border: none; background: none; width: 100px;" type="submit">
                                <input type="hidden" id="data" name="dataId" value= {{product.id}} required>
                                Xóa
                                </button>
                              </form>
                          {% endif %}
                              <button type="button" class="btn btn-warning w-100">Trạng thái:   {{product.transport}}</button>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}