{% extends "pages/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
        <div class= "d-flex justify-content-center">
            <div class="w-50 m-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Danh mục
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Quần áo
                        </li>
                        <li class="list-group-item">Laptop</li>
                        <li class="list-group-item">Tai nghe</li>
                    </ul>
                </div>
            </div>

            <div class ="w-200 m-2">

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="https://cf.shopee.vn/file/vn-50009109-942ad23acb3206964a9abd865171ed3d_xxhdpi" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="https://cf.shopee.vn/file/vn-50009109-8480dd7ba641db97f424f50a505e08fd_xxhdpi" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="https://cf.shopee.vn/file/vn-50009109-fa79715264f5c973648d8096a8aa9773_xxhdpi" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                    {% for product in product %}
                        <div class="col">
                            <div class="card h-100">
                                <img src= {{ product.thumbnail }} class="card-img-top" alt="/">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.price }} Vnd</h5>
                                    <p class="card-text">{{ product.shortDescription }}</p>
                                    <span class="card-title">Đã bán: {{ product.status }} sản phẩm</span>
                                </div>
                                <a href="/product">
                                    <button type="button" class="btn btn-warning w-50 m-2">Mua ngay</button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}