{% extends "pages/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
        <div class= "d-flex justify-content-center">
            <div class="m-5 w-10">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Hồ sơ
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Nguyễn Văn A</li>
                      <li class="list-group-item">Đơn mua</li>
                      <li class="list-group-item">Thông báo</li>
                    </ul>
                  </div>             
            </div>

            <div class ="m-5 w-100">
                <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="true" href="#">Tất cả</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Chờ thanh toán</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Vận chuyển</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Đang giao</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hoàn thành</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Đã hủy</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="card mb-3" style="max-width: 1000px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src={{ product.thumbnail }} class="img-fluid rounded-start" alt="Trống">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{ product.shortDescription }}</h5>
                              <div class="d-flex justify-content-flex-start mt-5">
                                <p class="card-text">
                                    <button type="button" class="btn btn-outline-primary">Xanh dương</button>
                                    <button type="button" class="btn btn-outline-secondary">Xám</button>
                                    <button type="button" class="btn btn-outline-success">Xanh lá</button>
                                    <button type="button" class="btn btn-outline-danger">Đỏ</button>
                                    <button type="button" class="btn btn-outline-warning">Vàng</button>
                                </p>
                              </div>
                              <div class="card-text m-2 d-flex justify-content-flex-start">Số lượng: 2</div>
                              <div class="card-title m-2 d-flex justify-content-flex-start">Tổng: đ {{product.price}}</div>
                              <div class="d-flex justify-content-flex-start">
                                <button type="button" class="btn btn-warning m-2">Mua ngay</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}