{% extends "pages/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class = "d-flex justify-content-center mt-5">
        <div class="card mb-3 d-flex justify-content-center" style="max-width: 1200px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="https://down-vn.img.susercontent.com/file/sg-11134211-23020-ttr6qdkyywnv92" class="img-fluid rounded-start" alt="/">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Miễn phí vận chuyển Miễn phí vận chuyển cho đơn hàng trên ₫ Vận Chuyển Tới Phí Vận Chuyển </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <p class="card-text">
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                        <button type="button" class="btn btn-outline-success">Success</button>
                        <button type="button" class="btn btn-outline-danger">Danger</button>
                        <button type="button" class="btn btn-outline-warning">Warning</button>
                        <button type="button" class="btn btn-outline-info">Info</button>
                    </p>
                    <h5 class="card-title">Price: 500.000 vnd</h5>
                    <button type="button" class="btn btn-warning w-50">Buy</button>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}