{% extends "pages/base.html" %}
{% block title %} Product {% endblock %}
{% block content %}
    <div class = "d-flex justify-content-center mt-5">
        <div class="card mb-3 d-flex justify-content-center" style="max-width: 1200px;">
            <form method="post" action="{% url 'home:product' %}">
                {% csrf_token %}
            <div class="row g-0">
                <div class="col-md-4">
                <img src={{ product.thumbnail }} class="img-fluid rounded-start" alt="/">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ product.shortDescription }}</h5>
                    <p class="card-text">Chúng tôi chỉ muốn mang đến cho bạn những sản phẩm tốt nhất, thịnh hành nhất, chất lượng tốt nhất và giá rẻ nhất.
                        Thời trang là một phần của không khí hàng ngày và nó thay đổi mọi lúc với tất cả các sự kiện.! 
                        Hãy bắt đầu mua sắm vui vẻ!</p>
                    <p class="card-text"><small class="text-muted">Mã Giảm Giá Của Shop:</small></p>
                    <p class="card-text">
                        <button type="button" class="btn btn-outline-danger">10% GIẢM</button>
                        <button type="button" class="btn btn-outline-danger">20% GIẢM</button>
                        <button type="button" class="btn btn-outline-danger">30% GIẢM</button>
                        <button type="button" class="btn btn-outline-danger">40% GIẢM</button>
                    </p>
                    <p class="card-text"><small class="text-muted">Chọn màu sắc:</small></p>
                    <select id="color" name="color" >
                        <option value="Xanh dương">Xanh dương</option>
                        <option value="xám">Xám</option>
                        <option value="xanh lá">Xanh lá</option>
                        <option value="Đỏ">Đỏ</option>
                        <option value="Vàng">Vàng</option>
                    </select>
                    <h5 class="card-title" style="color: #D41830;">Giá: {{ product.price }} vnd</h5>
                    <input type="hidden" id="data" name="idP" value={{ product.id }} required>
                    <button type="submit" class="btn btn-warning">Mua ngay</button>
                </div>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}