{% extends "pages/base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-5 border">
        <form method="post">
            {% csrf_token %}
            <div class="form-outline mb-4 mt-4">
                <input type="email" id="id_email" class="form-control" name="email" required />
                <label class="form-label" for="id_email">Email address</label>
            </div>
            <div class="form-outline mb-4 mt-4">
                <input type="text" id="id_username" class="form-control" name="userName" required />
                <label class="form-label" for="id_username">UserName</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="id_password" class="form-control" name="password" required />
                <label class="form-label" for="id_password">Password</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary btn-block mb-4">
                Sign up
            </button>
            <div class="text-center">
                <p>Not a member? <a href="/">Login</a></p>
            </div>
        </form>

    </div>
{% endblock %}