{% extends "pages/base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="d-flex justify-content-center mt-5 border">
        <form method="post" action="{% url 'home:register' %}">
            {% csrf_token %}
            <div class="form-outline mb-4 mt-4">
                <input type="email" id="id_email" class="form-control" name="email" required />
                <label class="form-label" for="id_email">Email</label>
            </div>
            <div class="form-outline mb-4 mt-4">
                <input type="text" id="id_username" class="form-control" name="userName" required />
                <label class="form-label" for="id_username">Tên đăng nhập</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="id_password" class="form-control" name="password" required />
                <label class="form-label" for="id_password">Mật khẩu</label>
            </div>
            <button type="submit" class="w-100 btn btn-primary btn-block mb-4">
                Đăng ký
            </button>
            <div class="text-center">
                <p>Bạn đã có tài khoản? <a href="/">Đăng nhập</a></p>
            </div>
        </form>

    </div>
{% endblock %}